<%- include('../layouts/adminLayout/header.ejs') %>
    <%- include('../layouts/adminLayout/sidebar.ejs') %>
        <%- include('../layouts/adminLayout/navbar.ejs') %>


            <div class="main-panel bg-warning">
                <div class="content-wrapper">
                    <div class="row bg-dark">



                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card-body">
                                <div class="card-body">
                                    <h4 class="card-title">Category List</h4>                
                                   <a data-bs-toggle="modal" data-bs-target="#addcategory"><button type="button" class="btn btn-success m-2 float-right">Add Category</button></a>

                                   
                                     <div class="table-responsive">
                                        <table class="table table-hover text-white ">
                                            <thead>
                                                <tr>
                                                    <th class="text-warning">Product Id</th>
                                                    <th class="text-warning">Category Name </th>
                                                    <th class="text-warning"> Action </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                            
                                                <% if (category.length> 0) { %>
                                                    <% for (var i=0; i < category.length; i++) { %>
                                                        <tr>
                                                            <td>
                                                                <%= i + 1 %>
                                                            </td>
                                                            <td >
                                                                <%= category[i].categoryName %>
                                                            </td>
                                                            <td>
                                                                <% if (category[i].is_delete==true){ %>
                                                                    <a class="btn btn-success" href="/admin/listcategory?id=<%= category[i]._id%>">list</a>
                                                                    <% }else{%>
                                                                        <a class="btn btn-danger" href="/admin/unlistcategory?id=<%= category[i]._id %>" onclick="return confirm('Are you sure you want to unlist <%= category[i].categorytName%>?')">unlist</a>
                                                            </td>
                                                            <!-- <td><a href="/admin/editCatogary?id=<%=category[i]._id%>" class="" href="" data-bs-target="#editcategory">
                                                                            Edit
                                                                          </a></td> -->
                                                            <td>
                                                                <a type="button" class="btn btn-success w-60" style="margin-top: 30px;margin-left: 10px;"
                                                                    href="/admin/editCategory?id=<%=category[i]._id%>">
                                                                    EDIT CATEGORY
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                            <% } %>
                                                                <% } %>
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            


                        </div>
                    </div>
                </div>


                <%- include('../layouts/adminLayout/footer.ejs') %>