<%- include('../layouts/adminLayout/header.ejs') %>
    <%- include('../layouts/adminLayout/sidebar.ejs') %>
        <%- include('../layouts/adminLayout/navbar.ejs') %>

            <div class="card-body">
                <h3 class="card-title">Edit Product</h3>

                <form action="/admin/editProduct/<%- product._id %>" method="POST" class="form-group m-2 mt-5 pt-5" >
                    <label>PRODUCT</label>
                    <input type="name" class="form-control form-control-lg" name="product"
                        value="<%= product.productName %>" required>
                    <br>
                    <label>STOCK</label>
                    <input type="text" class="form-control form-control-lg" name="stock" value="<%= product.StockQuantity %>"
                        required>
                    <br>
                    <label>PRICE</label>
                    <input type="text" class="form-control form-control-lg" name="price" value="<%= product.price %>"
                        required>
                    <br>

                    <div class="form-group">
                        <label for="exampleInputEmail3">Size</label>
                        <select name="size" class="form-control" id="exampleInputEmail3" required>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                        </select>
                    </div>

                    <label>DESCRIPTION</label>
                    <input type="text" class="form-control form-control-lg" name="description"
                        value="<%= product.description %>" required>
                    <br>

                    <div class="form-group">
                        <label>File upload</label>
                        <div class="input-group col-xs-12">
                            <% if (product.image && product.image.length> 0) { %>
                                <% product.image.forEach((x, index)=> { %>
                                    <img src="/adminAsset/adminImages/<%= x %>" alt="" width="60px" height="50">
                                    <% }); %>
                                        <% } %>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Edit Image
                    </button>

                    <br>

                    <input type="hidden" name="id" value="<%= product._id %>">
                    <input class="btn btn-block btn-facebook auth-form-btn" type="submit" value="Update Product">
                </form>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Image Editing</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <!-- form starts -->
                        <form action="/admin/editProduct/updateimage/<%- product._id %>" method="post"
                            enctype="multipart/form-data">
                            <div class="modal-body">
                                <input multiple type="file" class="form-control" id="basic-default-name" name="image" />
                                <br>
                                <% if (product.image && product.image.length> 0) { %>
                                    <% product.image.forEach((x, index)=> { %>
                                        <img class="mb-3" src="/adminAsset/adminImages/<%= x %>" alt="product image"
                                            width="60px" height="50">
                                        <a href="/admin/deleteimg/<%= x %>/<%= product._id %>">
                                            <button type="button" class="btn btn-danger mb-4"
                                                data-bs-dismiss="modal">Delete</button>
                                        </a>
                                        <br>
                                        <% }); %>
                                            <% } %>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <%- include('../layouts/adminLayout/footer.ejs') %>