<%- include('../layouts/user/header.ejs') %>

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
      <div class="col-12">
        <nav class="breadcrumb bg-light mb-30">
          <a class="breadcrumb-item text-dark" href="#">Home</a>
          <a class="breadcrumb-item text-dark" href="#">Profile</a>
          <span class="breadcrumb-item active">Orders</span>
        </nav>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->
  
  <!-- Cart Start -->
  <div class="container-fluid" id="reloadDiv">
    <div class="row px-xl-5">
      <div class=" table-responsive mb-5">
        <table
          class="table table-light table-borderless table-hover  mb-0"
        >
        <thead>
          <tr>
              <th scope="col">No</th>
              
              <th scope="col">order Id</th>
              <th scope="col">Date</th>
              <th scope="col">Total Price</th>
              <th scope="col">Payment Methode</th>
              <th scope="col"></th>
            </tr>
      </thead>
      <tbody>
                                                
        <% if(orderData.length > 0){
            orderData.forEach((order,i)=>{
                %>
        <tr>
        <td><%=i+1%></td>
        <td><%=order._id%></td>
        <td><%=order.date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g, '-') %></td>
        <td><%=order.totalAmount%></td>
        <td><%=order.paymentMethod%></td>
        <td class="align-middle"><a href="/singleOrder/<%= order._id %>"><button type="button" class="btn btn-outline-success">Details</button></a> </td>
        </tr>
        <%})
       }%>
        
    
    </tbody>
        </table>
      </div>
  
    </div>
  </div>
  <!-- Cart End -->

<%- include('../layouts/user/footer.ejs') %>