<%- include('../layouts/user/header.ejs') %>

<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3"><%=userData.name%></h5>
            <div class="d-flex justify-content-center mb-2">
              <a href="/myOrders"><button type="button" style="border-radius: 7px;" class="btn btn-primary">ORDERS</button></a>
              <a class="text-body mr-3" href="/logout"><i></i>
              <button type="button" style="border-radius: 7px;" class="btn btn-outline-danger ms-1">Log out</button></a>
            </div>
            <a href="/changePassword">Change password</a>
            <h3 class="text-middle">wallet: <span>
                <%= userData.wallet %>
              </span></h3>
          </div>
          
            
        
        </div>
        <div class="card mb-4 mb-lg-0">
          
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Name :</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%=userData.name%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email :</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%=userData.email%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone Number :</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%=userData.mobile%></p>
              </div>
            </div>
            <!-- <button  class="btn btn-primary float-right" onclick="showEdit()" style="border-radius: 7px;">Edit details</button> -->
          </div>
        </div>
        <div class="bg-light p-30 mb-5">
          <div class="row justify-content-end"> <!-- Add the 'justify-content-end' class to align the button to the right -->
            <a href="/AddAddress">
              <button class="btn btn-success font-weight-bold">
                Add Address
              </button>
            </a>
          </div>
          
          <br />
          <% if (address) { for (let i = 0; i < address.length; i++) { %>
          <div class="row">
            
            <div class="custom-control ">
              
              
              <label class="custom-control-label" for="<%= address[i].userName %>">
                Name:<%= address[i].userName %> <br>
                House Name:<%= address[i].houseName %><br/>
                Number:<%= address[i].mobile %> <br>
                Alternative Number:<%= address[i].altrenativeMob %><br>
                City:<%= address[i].city %><br/>
                State:<%= address[i].state %><br>
                PIN:<%= address[i].pincode %>
              </label><br />
              <a href="/editAddress/<%= address[i]._id %>">
                <button style="border-radius: 7px;" class="btn btn-sm btn-danger font-weight-bold">
                  Editt
                </button>
              </a>
              <a class="btn btn-sm btn-outline-danger font-weight-bold  " type="button" style="border-radius: 7px;" onclick="deleteAddress('<%= address[i]._id %>')">Delete </a>
              
          </div>
          
            </div>
            <br>
            <% } }else{ %>
              <h3>No Addresses</h3>
              <%}%>
        </div>
      </div>
    </div>
    
    
  </div>
</section>

<script>
  function deleteAddress(addressId) {
Swal.fire({
title: 'Are you sure?',
text: 'You want to delete address',
icon: 'warning',
showCancelButton: true,
confirmButtonColor: '#3085d6',
cancelButtonColor: '#d33',
confirmButtonText: 'Yes, delete!'
}).then((result) => {
if (result.isConfirmed) {
  $.ajax({
    url: '/deleteAddress',
    data: {
      address: addressId,
     
    },
    method: 'post',
    success: (response) => {
      location.reload();
// $("#reloaddiv").load('/checkout #reloaddiv')
      Swal.fire({
        title: 'Deleted!',
        text: 'Your item has been deleted.',
        icon: 'success',
        timer: 1500,
        showConfirmButton: false
      });
    },
    error: (error) => {
      console.log(error);
      Swal.fire({
        title: 'Error!',
        text: 'An error occurred while deleting the item.',
        icon: 'error',
        showConfirmButton: false
      });
    }
  });
}
});
}
</script>

<%- include('../layouts/user/footer.ejs') %>
